<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/avatar.png">
        <h2> Hey There! I am Rajat Malik, and this is a project I made while learning NodeJS and ExpressJS.  </h2>
        <h2> Things included : </h2>
        <ul>
            <li>HTTP JSON Endpoints using ExpressJS</li>
            <li>HTTP Requests using Fetch API</li>
            <li>Partials and Views using Handlebars </li>
            <li>Error Handling and a 404 page</li>
        </ul>
    </div>
    
    {{>footer}}
</body>

</html>